.os2loop-highlighted-container {
  background-color: $dark-background;
  color: $black;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  padding: $spacer * 2;

  h2 {
    font-size: 1.2rem;
  }
}
