.paragraph--type--os2loop-section-page-info-block {
  &.is-highlighted {
    border: 1px solid $highlighted-border;
    background: $highlighted;
    // Only add padding if it has border or background color.
    padding: 1em;
  }
}
