/**
 * @file
 * The step-by-step paragraph, complete with numbering.
 */
.counter {
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  li {
    display: table;
    counter-increment: item;
    width: 100%;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 15px;
      margin: 10px 0 0 -20px;
      padding: $spacer * 2;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $primary-color;
      font-size: 1.2em;
      font-family: $font-family-base;
      content: counters(item, ".") " ";
    }
  }

  li li {
    &::before {
      content: counters(item, ".") " ";
    }
  }
}

.indented-step {
  padding-left: $spacer * 2;
}

.step {
  margin-top: -45px;
  min-height: 100px;
  padding: 15px 0 0 55px;
  background-color: $light-background;
}
