/**
 * @file
 * The step-by-step paragraph, complete with numbering.
 */
.counter {
  color: $text-on-primary;
  position: relative;
  margin-bottom: $spacer * 1.5;

  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  li {
    &.paragraph-step {
      counter-increment: item;
      width: 100%;

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: $spacer/2;
        left: -$spacer/2;
        padding: $spacer * 1.5;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $primary;
        font-size: 1.2em;
        font-weight: bold;
        font-family: $font-family-base;
        content: counters(item, ".") " ";
      }
    }
    li {
      &.paragraph-step {
        &::before {
          content: counters(item, ".") " ";
          padding: $spacer * 1.25;
          font-size: 1em;
          background-color: $gray-500;
          left: 0;
        }
      }
    }
  }
}

.indented-step {
  padding-left: $spacer * 1.5;
}

.step {
  min-height: $spacer * 4;
  padding: $spacer/2 $spacer/2 $spacer/2 $spacer;
  background-color: $light-background;
  margin-bottom: $spacer/2;
}
