{#
/**
 * @file
 * Display list of content that is related to the users profession.
 *
 * Available variables:
 * - data: A list of nodes
 */
#}
{% if data is empty %}
  <div class="list-group">
    <div class="list-group-item mb-2 bg-light border-0">
      {{ 'No content related to your user'|t }}
    </div>
  </div>
{% else %}
  {% for node in data %}
    <div class="list-group">
      <article class="list-group-item mb-2 bg-light border-0">
        <div class="small">{{ node.type.entity.label }} </div>
        <h3 class="h6"><a href="{{ url('entity.node.canonical', { 'node': node.id() }) }}">{{ node.title() }}</a></h3>
      </article>
    </div>
  {% endfor %}
{% endif %}
