{#
/**
 * @file
 * Display lists of user subscriptions.
 */
#}
<h2>{{ 'Content subscriptions'|t }}</h2>
{{ drupal_view('os2loop_subscriptions_node', 'block_1') }}

<h2>{{ 'Taxonomy term subscriptions'|t }}</h2>
{{ drupal_view('who_s_new', 'block_1') }}
