@import 'bootstrap-icons/font/bootstrap-icons.css';
$primary-color: #41ab51;
$secondary-color: #f2f2f2;

.bg-secondary-loop {
    background-color: $secondary-color;
}

.bg-navbar-loop {
    background-color: $primary-color;
}

.bi.bi-file-person {
    font-size: 2em;
}

@import 'bootstrap';
@import './indented';
@import './counter';
@import './search_api_autocomplete';
