// Bootstrap
@import "~bootstrap"; // Import full bootstrap styling
@import "~bootstrap-icons/font/bootstrap-icons.css"; // Import bootstrap icons

// Colors
@import "colors";
@import "bootstrap-contrast-fixes";

// Components
@import "mixins";
@import "./comment";
@import "./teasers";
@import "./documents";
@import "./title";
@import "./tabs";
@import "./fields";
@import "./form";
@import "./icons";
@import "./search";
@import "./terms";
@import "./navbar";
@import "./member-view";
@import "./media-library";
@import "./paragraphs/step-by-step";
@import "./paragraphs/highlighted-content";
@import "./paragraphs/text-and-image";
@import "./paragraphs/info-block";
@import "./taxonomy-colors";
@import "./os2loop-user-login";
@import "./colored-checkboxes";
@import "collapse";
@import "_user.scss";

// Generel overrides
body {
  background-color: $gray-100;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 10%);
  }
}

.bg-white-loop {
  background-color: $white;
  margin-bottom: $spacer * 2;
}

.bg-secondary-loop {
  border-radius: 3px;
  margin-bottom: $spacer * 2;
}

i {
  font-size: 1.2em;
}

.os2loop-content {
  position: relative;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
