@import "colors";
@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "mixins";

$font-family-base: "Montserrat";

a {
  color: $link-color;
}

.bg-secondary-loop {
  background-color: $light-background;
  padding: $spacer * 2;
  border-radius: 3px;
  margin-bottom: $spacer * 2;
}

.bg-white-loop {
  @extend .container;
  background-color: $white;
  padding: $spacer * 2;
  margin-bottom: $spacer * 2;
}
i {
  font-size: 1.2em;
}

.os2loop-content {
  position: relative;

  h1,
  h2 {
    color: $text-color;
    font-size: 2em;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.navbar-brand {
  min-width: 100px;
}

@import "bootstrap";
@import "bootstrap-contrast-fixes";
@import "./comment";
@import "./teasers";
@import "./document-collection";
@import "./title";
@import "./tabs";
@import "./fields";
@import "./font";
@import "./form";
@import "./icons";
@import "./search";
@import "./tags";
@import "./navbar";
@import "./member-view";
@import "./media-library";
@import "./paragraphs/step-by-step";
@import "./paragraphs/highlighted-content";
@import "./paragraphs/text-and-image";
@import "./paragraphs/info-block";
