/* Hide the default checkbox */
.facet-item input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.colored-check {
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 0.3em;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */

.colored-check:after {
  content: "";
  position: absolute;
  display: none;
}

.facet-item > label {
  position: relative;
}

.facet-item input:checked ~ label .colored-check {
  background: $primary;
}

.facet-item__value {
  margin-left: 30px;
}

/* Display checkmark when checked */
.facet-item input:checked ~ label .colored-check:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and
showing only two border to make it look
like a tickmark */
.facet-item .colored-check:after {
  left: 7px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
