/**
 * @file
 * Os2loop colors. for now.
 */

// Bootstrap colors
$primary: #41ab51 !default;
$secondary: #6c757d !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;

// Taxonomy colors
$taxonomy-color-1: hsl(60, 54%, 35%) !default;
$taxonomy-color-2: hsl(120, 54%, 35%) !default;
$taxonomy-color-3: hsl(230, 54%, 35%) !default;
$taxonomy-color-4: hsl(0, 0%, 13%) !default;

// Black and white
$black: #000 !default;
$white: #fff !default;

@import "contrast-function";

$light-background: $light !default;
$dark-background: darken($light-background, 10%) !default;
$field-title-color: $dark !default;

// Text color
$text-color: $dark !default;
$text-on-primary: contrast-color($primary) !default;
$text-on-secondary: contrast-color($secondary) !default;
$text-on-success: contrast-color($success) !default;
$text-on-info: contrast-color($info) !default;
$text-on-warning: contrast-color($warning) !default;
$text-on-danger: contrast-color($danger) !default;

// Icon buttons
$icon-base-color: $secondary !default;
$delete: $danger !default;
$upvote: $primary !default;
$follow-content: $primary !default;
$edit: $secondary !default;
$subscribe: $primary !default;
$favourite: $primary !default;

$dark-icon-base-color: darken($icon-base-color, 10%) !default;
$dark-delete: darken($delete, 10%) !default;
$dark-upvote: darken($upvote, 10%) !default;
$dark-follow-content: darken($follow-content, 10%) !default;
$dark-edit: darken($edit, 10%) !default;
$dark-subscribe: darken($subscribe, 10%) !default;
$dark-favourite: darken($favourite, 10%) !default;

// Attributes
$highlighted: lighten($primary, 40%) !default;
$highlighted-border: $primary !default;
$link-color: $blue !default;

$info-box-background: $info !default;
