/**
 * @file
 * Os2loop colors. for now.
 */

$primary-color: #41ab51;
$secondary-color: #488cd4;
$dark-secondary-color: darken($secondary-color, 5%);
$primary: $primary-color;
$black: #000;
$white: #fff;

// Colors
$light-grey: #f2f2f2;
$grey: #e4e4ec;
$dark-grey: #2c3c44;
$red: #c8545c;

$light-background: $light-grey;
$dark-background: $grey;
$field-title-color: $dark-grey;
$text-color: $dark-grey;

// Icon buttons
$icon-base-color: $dark-grey;
$delete: $red;
$upvote: $primary-color;
$follow-content: $primary-color;
$edit: $secondary-color;
$subscribe: $primary-color;
$favourite: $primary-color;

$dark-icon-base-color: darken($dark-grey, 10%);
$dark-delete: darken($red, 10%);
$dark-upvote: darken($primary-color, 10%);
$dark-follow-content: darken($primary-color, 10%);
$dark-edit: darken($secondary-color, 10%);
$dark-subscribe: darken($subscribe, 10%);
$dark-favourite: darken($favourite, 10%);

// Link color
$link-color: #0056b3;

// Attributes
$highlighted: lighten($primary-color, 40%);
$highlighted-border: $primary-color;
$link-color: #0051a8;
