/**
 * @file
 * Basic styling for comment module.
 */

/**
 * Indent threaded comments.
 */

// Only indent within post/question, to avoid indentation in the reply page.
.os2loop-post,
.os2loop-question {
  .indented {
    margin-left: $spacer * 3;
  }
  .top-comment {
    .user {
      background: #c3e6cb; // TODO: Generate this color from $success
    }
  }

  .top-comment-background {
    margin-top: 0;
    padding: $spacer;
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    border-radius: 0 0 5px 5px;

    background-color: #d4edda; // TODO: Generate this color from $success
    border-color: #c3e6cb; // TODO: Generate this color from $success

    margin-bottom: $spacer * 2;
    color: #155724; // TODO: Generate this color from $success
  }
}

.os2loop-comment {
  position: relative;

  &:target {
    // Highlight comment
    // @todo Design
    outline: solid 1px $primary;
  }

  .bg-secondary-loop {
    margin-top: 0;
    padding: $spacer;
    border-left: 1px solid $gray-200;
    border-right: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    border-radius: 0 0 5px 5px;
  }
}

.comment-write-reply {
  background-color: $light;
  padding: $spacer;
}
