/**
 * @file
 * Basic styling for comment module.
 */

/**
 * Indent threaded comments.
 */

// Only indent within post/question, to avoid indentation in the reply page.
.os2loop-post,
.os2loop-question {
  .indented {
    margin-left: 25px;
    margin-top: -20px;
  }

  .top-comment {
    background-color: $primary;
    border-radius: 0;
    color: $text-on-primary;
  }

  .top-comment-background {
    background-color: $primary;
    padding: $spacer * 2;
    margin-bottom: $spacer * 2;
    color: $black;

    a {
      color: $text-on-primary;
    }
  }
}
.os2loop-comment {
  position: relative;

  &:target {
    // Highlight comment
    // @todo Design
    outline: solid 1px $primary;
  }
}
