/**
 * @file
 * Basic styling for comment module.
 */

/**
 * Indent threaded comments.
 */
.indented {
  margin-left: 25px;
}

[dir="rtl"] .indented {
  margin-right: 25px;
  margin-left: 0;
}

.top-comment {
  border: 2px solid $primary-color;
}
