.document-collection {
  ol {
    padding-left: 0px;

    li {
      list-style: none;
      padding: 0;
      a {
        background-color: $dark-background;
        padding: $spacer;
        margin-bottom: 4px;
        width: 100%;
        display: block;
      }
      ol {
        padding-left: $spacer;
        a {
          background-color: $light-background;
        }
      }
    }
  }
}

.os2loop-documents-info-box {
  margin-bottom: $spacer;
  padding: $spacer;
  background-color: $info-box-background;
  color: color-yiq($info-box-background);
}
