.document-collection-item + .document-collection-list {
  padding-left: $spacer;
}

.os2loop-documents-info-box {
  margin-bottom: $spacer;
  padding: $spacer;
  background-color: $info-box-background;
  color: color-yiq($info-box-background);
}

table.loop-documents-table {
  @extend .table, .table-hover, .table-bordered;

  th {
    background: #ccc;
    text-align: center;
  }

  th,
  td {
    vertical-align: top;
  }

  p {
    margin-top: 0;
  }

  &-steps {
    td:first-child {
      width: 10%;
      text-align: center;
    }
  }

  img {
    height: auto !important;
    max-width: inherit !important;
  }
}

#about-collection .header .document a {
  color: inherit;
}
