ol.document-collection-list {
  padding-left: 0px;

  li.document-collection-item {
    list-style: none;
    padding: 0;
    a {
      background-color: $dark-background;
      padding: $spacer;
      margin-bottom: 4px;
      width: 100%;
      display: block;
    }
    ol.document-collection-list {
      padding-left: $spacer;
      a {
        background-color: $light-background;
      }
    }
  }
}

.os2loop-documents-info-box {
  margin-bottom: $spacer;
  padding: $spacer;
  background-color: $info-box-background;
  color: color-yiq($info-box-background);
}

table.loop-documents-table {
  @extend .table, .table-hover, .table-bordered;

  p {
    margin-top: 0;
  }

  &-steps {
    td:first-child {
      width: 10%;
      text-align: center;
    }
  }
  img {
    height: auto !important;
    max-width: inherit !important;
  }
}
