$content-types:
  "os2loop_documents_collection",
  "os2loop_documents_document",
  "os2loop_external",
  "os2loop_page",
  "os2loop_post",
  "os2loop_question",
  "os2loop_section_page";

$icons: (
  "os2loop_documents_collection": "\f3c2",
  "os2loop_documents_document": "\f3b9",
  "os2loop_external": "\f471",
  "os2loop_page": "\f112",
  "os2loop_post": "\f383",
  "os2loop_question": "\f50b",
  // "os2loop_section_page": "",
);

.icon-container {
  display: flex;
  margin: 0;
  padding: 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    margin: 0 5px 5px 0;
    font-size: 1em;
    border-radius: 2px;
    color: $white;

    &.comment-edit,
    &.edit {
      @include link-icon("\f4ca", $edit, $dark-edit);
    }

    &.print {
      @include link-icon("\f501");
    }

    &.fav {
      @include link-icon("\f37d", $follow-content, $dark-follow-content);
    }
    &.unfav {
      @include link-icon("\f37c", $follow-content, $dark-follow-content);
    }

    &.subscribe {
      background-color: $subscribe;
      &:hover {
        background-color: $dark-subscribe;
      }
    }
    &.unsubscribe {
      background-color: $subscribe;
      &:hover {
        background-color: $dark-subscribe;
      }
    }

    &.comment-share,
    &.share {
      @include link-icon("\f52e");
    }

    &.comment-flag,
    &.flag {
      @include link-icon("\f3cc");
    }

    &.comment-reply,
    &.reply {
      @include link-icon("\f51f");
    }

    &.comment-delete,
    &.delete {
      @include link-icon("\f5de", $delete, $dark-delete);
    }

    &.revisions {
      @include link-icon("\f4b3");
    }

    &.view {
      @include link-icon("\f341");
    }

    &.upvote.flag {
      @include link-icon("\f407", $upvote, $dark-upvote);
    }

    &.upvote.unflag {
      @include link-icon("\f406", $upvote, $dark-upvote);
    }

    i {
      color: $white;
      font-size: 1.2em;
    }
  }
}

// When it is in a comment, it should leave a little margin.
.os2loop-comment {
  .icon-container {
    right: 2em;
    display: flex;
    position: absolute;
    right: 0px;
    z-index: 10;
  }
}
