$content-types: "os2loop_documents_collection", "os2loop_documents_document",
  "os2loop_external", "os2loop_page", "os2loop_post", "os2loop_question",
  "os2loop_section_page";

$icons-content-types: (
  "os2loop_documents_collection": "\f3c2",
  "os2loop_documents_document": "\f3b9",
  "os2loop_external": "\f471",
  "os2loop_page": "\f112",
  "os2loop_post": "\f383",
  "os2loop_question": "\f50b",
  // "os2loop_section_page": "",
);

$comment-types: "os2loop_post_comment", "os2loop_question_answer";

$icons-comment-types: (
  // Chat bubble.
  "os2loop_post_comment": "\f268",
  // Friendly exclamation.
  "os2loop_question_answer": "\f4b8"
);

// svg content from node_modules/bootstrap-icons/icons/search.svg.
$search-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");

@function bg-icon($icon, $fill-color) {
  @if $fill-color {
    // Convert fill color to string and (partially) url encode.
    $color: str-replace("#{$fill-color}", "#", "%23");
    $icon: str-replace($icon, " fill='currentColor'", " fill='#{$color}'");
  }

  @return $icon;
}

.icon-container {
  display: flex;
  margin: 0;
  padding: 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    margin: 0 5px 5px 0;
    font-size: 1em;
    border-radius: 2px;
    color: $white;

    &.comment-edit,
    &.edit {
      @include link-icon("\f4ca", $edit, $dark-edit);
    }

    &.print {
      @include link-icon("\f501");
    }

    &.fav {
      @include link-icon("\f37d", $follow-content, $dark-follow-content);
    }
    &.unfav {
      @include link-icon("\f37c", $follow-content, $dark-follow-content);
    }

    &.subscribe {
      background-color: $subscribe;
      &:hover {
        background-color: $dark-subscribe;
      }
    }
    &.unsubscribe {
      background-color: $subscribe;
      &:hover {
        background-color: $dark-subscribe;
      }
    }

    &.comment-share,
    &.share {
      @include link-icon("\f52e");
    }

    &.comment-flag,
    &.flag {
      @include link-icon("\f3cc");
    }

    &.comment-reply,
    &.reply {
      @include link-icon("\f51f");
    }

    &.bell {
      @include link-icon("\f18a", $subscribe, $dark-subscribe);
    }

    &.comment-delete,
    &.delete {
      @include link-icon("\f5de", $delete, $dark-delete);
    }

    &.revisions {
      @include link-icon("\f4b3");
    }

    &.view {
      @include link-icon("\f341");
    }

    &.upvote.flag {
      @include link-icon("\f407", $upvote, $dark-upvote);
    }

    &.upvote.unflag {
      @include link-icon("\f406", $upvote, $dark-upvote);
    }

    i {
      color: $white;
      font-size: 1.2em;
    }
  }
}

// When it is in a comment, it should leave a little margin.
.os2loop-comment {
  .icon-container {
    right: 2em;
    display: flex;
    position: absolute;
    right: 0px;
    z-index: 10;
  }
}
