// Form for adding new media to the library.
#media-library-add-form-wrapper {
  @extend .mb-2;

  border: 1px solid $dark-grey;
  padding: 1em;
  background: $light-background;

  ul {
    padding: 0;
    outline: none;
  }

  li {
    @extend .d-flex;
    @extend .flex-wrap;

    list-style-type: none;

    .form-wrapper {
      @extend .mr-2;
    }

    .form-submit {
      @extend .col-12;
      @extend .px-0;
    }
  }
}

// Display of media library.
#media-library-view {
  // Display selector (Grid/table)
  header {
    @extend .d-flex;
    @extend .justify-content-end;

    a.is-active {
      text-decoration: underline;
    }
  }

  // List of elements in grid display.
  .views-exposed-form {
    @extend .row;

    .form-item {
      @extend .col;
    }

    .form-wrapper {
      @extend .col-12;
      @extend .px-0;
      @extend .ml-3;
    }
  }

  .views_form_media_library_widget_os2loop_media_file,
  .views_form_media_library_widget_os2loop_media_image {
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .flex-wrap;

    // Each eleemnt in grid.
    .views-row {
      @extend .m-2;
      @extend .p-2;

      border: 1px solid $dark-grey;
      position: relative;

      .views-field-media-library-select-form {
        position: absolute;
      }

      // Mark the selected item.
      &.checked {
        border-color: $dark-grey;
      }

      // Hide select boxes.
      .form-checkbox {
        display: none;
      }

      // Show item as disabled.
      &.media-library-item--disabled {
        opacity: 0.5;

        // Disable option to select an item by expanding an element that doesn't trigger select event.
        .views-field-media-library-select-form {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // List of elements in table display.
  table {
    td {
      vertical-align: middle;
    }
  }
}

// Display of selected elements in field form.
.media-library-widget {
  .fieldset-wrapper {
    .field-prefix {
      // Position of "Show weights"
      button {
        float: right;
      }
    }

    & > .form-wrapper {
      @extend .d-flex;
      @extend .flex-wrap;

      width: 100%;

      // Each selected element.
      .library-item {
        border: 1px solid $dark-grey;
        margin: 0.5em;
        padding: 0.5em;

        // Remove item button.
        .button {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}
