@mixin link-icon(
  $content: null,
  $color: $icon-base-color,
  $hover-color: $dark-icon-base-color,
  $text-color: $black
) {
  background-color: $color;

  &:hover {
    background-color: $hover-color;
  }

  a {
    @if $content {
      width: 100%;
      text-align: center;
      &::before {
        color: $white;
        font-size: 1.2em;
        font-family: bootstrap-icons !important;
        content: $content;
      }
      &:focus-visible {
        .visually-hidden {
          position: relative !important;
          color: $text-color !important;
        }
      }
    }
  }
}

@mixin icon($content: null, $font-size: 1em, $margin-right: $spacer) {
  @if $content {
    &::before {
      color: $icon-base-color;
      font-size: $font-size;
      margin-right: $margin-right;
      font-family: bootstrap-icons !important;
      content: $content;
      vertical-align: middle;
    }
  }
}
