@use "sass:map";

// During development you can insert
//
//   jQuery(() => jQuery('[data-autocomplete-path]').val('first').keydown())
//
// at the end of app.js to trigger the search autocomplete.
//
// Uncomment the following rule to keep the suggestions visible:
// .search-api-autocomplete-search {
//   display: block !important;
// }

$search-icon-size: 40px;
$search-icon-padding: 10px;

$icon-color: $dark-grey;

// @see ../node_modules/bootstrap/scss/_functions.scss for details on `escape-svg`.
@import "../node_modules/bootstrap/scss/_functions.scss";
// $search-icon: escape-svg($search-icon-bg);
$search-icon: bg-icon($search-icon-bg, $icon-color);

#block-os2loop-search-db-search-form,
#block-os2loop-search-db-search,
#views-exposed-form-os2loop-search-db-page-search-form {
  // Hide submit button and search field label.
  .form-actions,
  .form-type-search-api-autocomplete label {
    display: none;
  }

  .form-autocomplete {
    border-radius: 1em;

    // transition: border-radius .1s;

    // Make room for background images
    padding-left: 50px;
    padding-right: 50px;

    background: {
      image: $search-icon;
      position: $search-icon-padding center;
      size: 24px 24px;
      repeat: no-repeat;
    }
  }

  .search-api-autocomplete-has-suggestions {
    .form-autocomplete {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.search-api-autocomplete-search.ui-widget.ui-widget-content {
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
}

// See search_api_autocomplete/css/search_api_autocomplete.css for hints on how
// to override the default styling of the autocomplete suggestions.

.search-api-autocomplete-search .ui-menu-item:hover {
  background: none;
}

$search-highlight-color: $light;

.search-api-autocomplete-search .ui-menu-item-wrapper {
  display: block;

  &:hover {
    background: $search-highlight-color;
  }

  &.ui-state-active {
    background: $search-highlight-color;
  }
}

.search-autocomplete {
  @each $content-type in $content-types {
    &.search-autocomplete--node--#{$content-type} {
      @include icon(
        map.get($icons-content-types, $content-type),
        $search-icon-size - $search-icon-padding,
        $margin-right: $search-icon-padding
      );
    }
  }

  @each $comment-type in $comment-types {
    &.search-autocomplete--comment--#{$comment-type} {
      @include icon(
        map.get($icons-comment-types, $comment-type),
        $search-icon-size - $search-icon-padding,
        $margin-right: $search-icon-padding
      );
    }
  }

  padding-left: $search-icon-padding;
  padding-right: $search-icon-padding;

  .search-autocomplete-suggestion {
    display: inline-block;
    vertical-align: middle;

    h2 {
      font-size: 1em;
    }
  }
}

// @see https://blog.maximerouiller.com/post/remove-the-x-from-internet-explorer-and-chrome-input-type-search/
// clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
