/**
 * @file
 * Basic styling for the tabs.
 */

.tabs {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $light-background;

  .tab {
    padding: $spacer;
    margin: 10px;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }

  .active {
    border-bottom: 3px solid $primary;
  }
}

.tab-content {
  margin: 15px;

  h1 {
    color: $text-color;
    font-size: 2em;
  }
}

.user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $gray-200;
  align-items: center;
  padding: 5px 0;
  i {
    font-size: 2em;
  }

  // Set user image to icon size.
  .user-image img {
    max-height: 48px;
    max-width: 48px;
    font-size: 2em;
  }
}
