@import "colors";
@import "contrast-function";

// Create list of taxonomy colors to loop through.
$taxonomy-colors: (
  "1": $taxonomy-color-1,
  "2": $taxonomy-color-2,
  "3": $taxonomy-color-3,
  "4": $taxonomy-color-4,
);

// Set background and text color for taxonomy term colors.
@each $taxonomy-color-index, $taxonomy-color in $taxonomy-colors {
  .taxonomy-color-#{$taxonomy-color-index} {
    background-color: $taxonomy-color;
    color: contrast-color($taxonomy-color);

    a {
      color: contrast-color($taxonomy-color);
    }
  }
}
